include README.md
include LICENSE

recursive-include LFPy *.pyx
recursive-include LFPy/test *.py
recursive-include LFPy/test *.hoc
recursive-include LFPy/test *.mod
recursive-include LFPy/test *.npz

recursive-include examples *.py
recursive-include examples *.ipynb
recursive-include examples *.hoc
recursive-include examples/morphologies *

recursive-include doc *
