# essential:
setuptools>=23.1.0
numpy>=1.8
scipy>=0.14
Cython>=0.20
h5py>=2.5
mpi4py>=1.2
matplotlib>=2.0
csa >= 0.1.8
# essential, not automatically installable:
# neuron>=7.4
# optional, for running tests:
nose>=1.3
